form {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

button {
    margin-top: 1rem;
    width: 10rem;
    cursor: pointer;

}

/*Nombre de la clase en el tag*/
.label-p {
	font-size: 2em;
	color: gray;
}

select{
	cursor: pointer;
}

label {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

fieldset {
    margin-top: 1rem;
}