.stopwatch-frame {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column ;
}

.stopwatch-frame h1 {
	font-size: 5em;
	text-align: center;
	-webkit-text-stroke: 0.5px black;
    color: transparent; 
}

.stopwatch-frame h1:hover{
	color: #4FD1C5;
}

.stopwatch-frame span {
	text-align: center;
	margin-bottom: 1.5em;
	font-size: 3em;
}

.stopwatch-frame button {
	  min-width: 300px;
	  min-height: 60px;
	  font-family: 'Nunito', sans-serif;
	  font-size: 22px;
	  text-transform: uppercase;
	  letter-spacing: 1.3px;
	  font-weight: 700;
	  color: #313133;
	  background: #4FD1C5;
	background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
	  border: none;
	  border-radius: 1000px;
	  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
	  transition: all 0.3s ease-in-out 0s;
	  cursor: pointer;
	  outline: none;
	  position: relative;
	  padding: 10px;
}

.stopwatch-frame button::before {
	content: '';
	  border-radius: 100px;
	  min-width: calc(1080px + 12px);
	  min-height: calc(60px + 12px);
	  border: 6px solid #00FFCB;
	  box-shadow: 0 0 60px rgba(0,255,203,.64);
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  opacity: 0;
	  transition: all 0.3s ease-in-out 0s;
}

.stopwatch-frame button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}


.stopwatch-frame button:hover::before, button:focus::before {
  opacity: 1;
}


.stopwatch-frame button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.stopwatch-frame button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}